{% extends "Admin_Inheritance.html" %}

{% block title %}BayaniHire Admin Center{% endblock %}

{% block content %}
<div class="main-content" style="padding: 0; margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;"></div>
    <h2 style="font-size: 36px; font-weight: bold; text-align: center;">List of Applicants</h2>
    <p style="font-size: 14px; font-weight: bold; text-align: center;">
        Welcome to List of Applicants, where the System Admin can manage all the applicants applied in this system.
    </p>
    <p class="form-inline d-flex justify-content-center align-items-center">Number of New Applicants: <span style="color: red; ">{{ total_applicants_under_review }}</span></p>

    <form method="GET" action="" class="form-inline d-flex justify-content-center align-items-center">
        <input type="hidden" name="sort_type" value="{{ sort_type }}">
        <input type="hidden" name="sort_order" value="{{ sort_order }}">
        <input type="hidden" name="status" value="{{ status_filter }}">

        <select name="sort_type" class="AD-admin-sort-dropdown" onchange="this.form.submit()">
            <option value="" {% if not sort_type %}selected{% endif %}>Sort</option>
            <option value="name_asc" {% if sort_type == 'name_asc' %}selected{% endif %}>Applicant Name (A-Z)</option>
            <option value="name_desc" {% if sort_type == 'name_desc' %}selected{% endif %}>Applicant Name (Z-A)</option>
            <option value="job_company_asc" {% if sort_type == 'job_company_asc' %}selected{% endif %}>Company (A-Z)</option>
            <option value="job_company_desc" {% if sort_type == 'job_company_desc' %}selected{% endif %}>Company (Z-A)</option>
            <option value="job_title_asc" {% if sort_type == 'job_title_asc' %}selected{% endif %}>Position Applied (A-Z)</option>
            <option value="job_title_desc" {% if sort_type == 'job_title_desc' %}selected{% endif %}>Position Applied (Z-A)</option>
            <option value="submission_date_asc" {% if sort_type == 'submission_date_asc' %}selected{% endif %}>Position Applied (Oldest to Newest)</option>
        <option value="submission_date_desc" {% if sort_type == 'submission_date_desc' %}selected{% endif %}>Position Applied (Newest to Oldest)</option>
        </select>
    
        <select name="status" class="AD-admin-sort-dropdown" onchange="this.form.submit()">
            <option value="" {% if not request.GET.status %}selected{% endif %}>All Statuses</option>
            <option value="UNDER REVIEW" {% if request.GET.status == 'UNDER REVIEW' %}selected{% endif %}>Under Review</option>
            <option value="FOR INTERVIEW" {% if request.GET.status == 'FOR INTERVIEW' %}selected{% endif %}>For Interview</option>
            <option value="FAILED TO MEET REQUIREMENTS" {% if request.GET.status == 'FAILED TO MEET REQUIREMENTS' %}selected{% endif %}>Failed To Meet Requirements</option>
            <option value="INCOMPLETE" {% if request.GET.status == 'INCOMPLETE' %}selected{% endif %}>Incomplete</option>
            <option value="REJECTED" {% if request.GET.status == 'REJECTED' %}selected{% endif %}>Rejected</option>
            <option value="QUALIFIED" {% if request.GET.status == 'QUALIFIED' %}selected{% endif %}>Qualified</option>
            <option value="PASSED" {% if request.GET.status == 'PASSED' %}selected{% endif %}>Passed</option>
            <option value="FAILED" {% if request.GET.status == 'FAILED' %}selected{% endif %}>Failed</option>
        </select>
        
        <input style="margin-right: 5px;" type="text" name="search" value="{{ search_query }}" class="applicant-search-input" placeholder="Search by name..." style="width: 55%;">
        <button style="margin-right: 5px;" type="submit" class="applicant-search-button">Search</button>
        <input type="number" name="rows" min="1" max="10" value="{{ rows_per_page }}" class="form-control mr-2" placeholder="Rows per page" style="width: 5%;">
        <button type="submit" class="applicant-search-button">Set Rows</button>
    </form>
    
    <!-- Table displaying applicant data -->
    <div class="interviewer-table-container">
        <table class="interviewer-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Applicant Name</th>
                    <th>Company</th>
                    <th>Position Applied</th>
                    <th>Date Applied</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if applicant_data %}
                    {% for applicant in applicant_data %}
                    <tr>
                        <td>{{ applicant.no }}</td>
                        <td>{{ applicant.full_name }}</td>
                        <td>{{ applicant.company }}</td>
                        <td>{{ applicant.position_applied }}</td>
                        <td>{{ applicant.date_applied }}</td>
                        <td>{{ applicant.status }}</td>
                        <td>
                            <button class="bodybutton" onclick="window.location.href='{% url 'open_applicants' applicant.applicant_status_id %}';">Open</button>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" style="text-align: center;">No Applicants/Company/Position found.</td>
                    </tr>      
                {% endif %}
            </tbody>
        </table>
    </div>
    <p id="no-match" style="display:none;">No Applicants/Company/Position found.</p>

    
    <!-- Pagination Links -->
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&sort_type={{ sort_type }}&sort_order={{ sort_order }}&status={{ status_filter }}&rows={{ rows_per_page }}&search={{ search_query }}">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&sort_type={{ sort_type }}&sort_order={{ sort_order }}&status={{ status_filter }}&rows={{ rows_per_page }}&search={{ search_query }}">Previous</a>
        {% endif %}
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&sort_type={{ sort_type }}&sort_order={{ sort_order }}&status={{ status_filter }}&rows={{ rows_per_page }}&search={{ search_query }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&sort_type={{ sort_type }}&sort_order={{ sort_order }}&status={{ status_filter }}&rows={{ rows_per_page }}&search={{ search_query }}">Last</a>
        {% endif %}
    </div>
</div>

<script>
    
function searchTable() {
    var input = document.querySelector('input[name="search"]').value.toLowerCase();
    var rows = document.querySelectorAll('tbody tr:not(#no-match)');
    var noMatch = document.getElementById('no-match');
    var matchFound = false;

    if (input.trim() === '') {
        // If the search input is empty, display all rows
        rows.forEach(function(row) {
            row.style.display = '';
        });
        noMatch.style.display = 'none';
    } else {
        // Iterate over each row to check for matches when there is input
        rows.forEach(function(row) {
            var text = row.textContent.toLowerCase();
            if (text.includes(input)) {
                row.style.display = '';
                matchFound = true;
            } else {
                row.style.display = 'none';
            }
        });
        // Display the 'no match' message if no rows are found
        noMatch.style.display = matchFound ? 'none' : 'block';
    }
}

document.addEventListener('DOMContentLoaded', function() {
    var searchInput = document.querySelector('input[name="search"]');
    searchInput.addEventListener('keyup', searchTable);
});



</script>

{% endblock %}


