{% extends "Admin_Inheritance.html" %}  <!-- Replace with your actual base template filename -->

{% block title %}BayaniHire: Admin Center{% endblock %}

{% block content %}
<div class="main-content" style="padding-top: 60px;">  <!-- Main content area with padding to avoid header overlap -->
    <!-- User Profile Section -->
    <h2 style="font-family: Georgia; font-size: 36px; font-weight: bold;">User Profile:</h2>
    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Username:</label> 
    <span style="font-family: Georgia; font-size: 24px;">{{ username }}</span><br>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Name:</label> 
    <span style="font-family: Georgia; font-size: 24px;">{{ full_name }}</span><br>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Email:</label> 
    <span style="font-family: Georgia; font-size: 24px;">{{ email }}</span><br>

    <!-- Password Change Form, FOR TESTINGGGG  -->
    <h2 style="font-family: Georgia; font-size: 36px; font-weight: bold;">Change Password:</h2>
    <form method="post" action="{% url 'adminprofile' %}">
        {% csrf_token %}
        <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Current Password:</label>
        <input type="password" name="current_password" placeholder="Enter Current Password" style="font-family: Georgia; font-size: 24px;"><br>

        <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">New Password:</label>
        <input type="password" name="new_password" placeholder="Enter New Password" style="font-family: Georgia; font-size: 24px;"><br>

        <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Confirm New Password:</label>
        <input type="password" name="confirm_password" placeholder="Confirm New Password" style="font-family: Georgia; font-size: 24px;"><br>

        <button type="submit" style="font-family: Georgia; font-size: 20px; font-weight: bold;">Save</button>
    </form>

    <br><br>

    <h2 style="font-family: Georgia; font-size: 36px; font-weight: bold;">Create Account for Admin and Interviewer</h2>
    
    <button style="font-family: Georgia; font-size: 20px; font-weight: bold;" onclick="window.location.href='{% url 'manage_accounts' %}';">Manage Accounts</button>
    <button style="font-family: Georgia; font-size: 20px; font-weight: bold;" onclick="window.location.href='{% url 'add_accounts' %}';">Create Account</button>
    
    <br><br>

    <button style="font-family: Georgia; font-size: 14px; font-weight: bold;"onclick="window.location.href='{% url 'Index' %}'">Sign Out</button>


</div>
{% endblock %}
