{% extends "Applicant_Inheritance.html" %}

{% block title %}Interview Details{% endblock %}

{% block content %}
<div class="main-content">
    <!-- Title -->
    <div class="header-text">Interview Details</div>

    <div class="info-section">
        {% if show_not_qualified_message %}
        <div class="info-column">
            <div class="info-text">Status</div>
            <div class="info-container">You are not yet qualified for an interview.</div>
        </div>
        {% elif show_no_schedule_message %}
        <div class="info-column">
            <div class="info-text">Status</div>
            <div class="info-container">No interview schedule yet.</div>
        </div>
        {% elif interview_details %}
        <div class="info-column">
            <div class="info-text">Name of Interviewer</div>
            <div class="info-container">{{ interview_details.interviewer_name }}</div>
            <div class="info-text">Schedule Date</div>
            <div class="info-container">{{ interview_details.schedule_date }}</div>
        </div>
        <div class="message-section">
            <div class="message-text">Interviewer Message:</div>
            <div class="message-container">
                {{ interview_details.interview_message }}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Buttons -->
    <div class="buttons-container">
        <button class="button">Download</button>
        <button class="button">Print</button>
    </div>
</div>
{% endblock %}
