{% extends "Applicant_Inheritance.html" %}

{% block title %}Applicant Profile{% endblock %}

{% block content %}
<div class="features-title" id="ApplicantProfile">User Profile</div>
<div class="text-placeholder" id="Appliprofileusername">
    <b>Username:</b> <span>Insert Username Here</span>
</div>
<div class="text-placeholder" id="Appliprofilename">
    <b>Name:</b> <span>Insert Name Here</span>
</div>
<div class="text-placeholder" id="Appliprofileemail">
    <b>Email:</b> <span>Insert Email Here</span>
</div>
<br />
<div class="features-title" id="AppliPassword">Password</div>
<div class="password-section">
    <div class="text-placeholder">
        <b>Password:</b> <i>*HIDDEN*</i>
    </div>
    <button class="edit-password-button" id="AppliEditButton">Edit Password</button>
</div>
<div class="features-title" id="AppliChangePassword">Change Password</div>
<div class="change-password-section" style="display: none;"> <!-- Initially hidden -->
    <div class="text-placeholder">
        <b>Password:</b> <input type="password" class="input-field" placeholder="Current Password">
    </div>
    <div class="text-placeholder">
        <b>New Password:</b> <input type="password" class="input-field" placeholder="New Password">
    </div>
    <div class="text-placeholder">
        <b>Confirm Password:</b> <input type="password" class="input-field" placeholder="Confirm Password">
    </div>
    <div class="change-password-buttons">
        <button class="save-button">Save</button>
    </div>
</div>
<div class="profile-button" onclick="signOut()">Sign Out</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Toggle display of the change password section
        document.getElementById('AppliEditButton').addEventListener('click', function() {
            var changePasswordSection = document.querySelector('.change-password-section');
            if (changePasswordSection.style.display === 'none' || changePasswordSection.style.display === '') {
                changePasswordSection.style.display = 'flex'; // Show the section
            } else {
                changePasswordSection.style.display = 'none'; // Hide the section
            }
        });
    });

    // Function to sign out, moved outside DOMContentLoaded for global access
    function signOut() {
        sessionStorage.clear();
        localStorage.clear();
        window.location.href = "{% url 'login' %}";
    }
</script>
{% endblock %}
