{% extends "Applicant_Inheritance.html" %}
{% load static %}

{% block title %}Interview Details{% endblock %}

{% block page_id %}data-page-id="interview-details"{% endblock %}

{% block content %}
<div class="main-content"
     data-location-name="{{ interview_details.location|default:'' }}">
    <!-- Title -->
    <h2 style="font-size: 36px; font-weight: bold; text-align: center;">Interview Details</h2>

    <div class="info-section">
        {% if show_not_qualified_message %}
        <div class="info-column">
            <div class="info-text">Status</div>
            <div class="info-container">You are not yet qualified for an interview.</div>
        </div>
        {% elif show_no_schedule_message %}
        <div class="info-column">
            <div class="info-text">Status</div>
            <div class="info-container">No interview schedule yet.</div>
        </div>
        {% elif interview_details %}
        <div class="info-column">
            <div class="info-text">Name of Interviewer</div>
            <div class="info-container">{{ interview_details.interviewer_name }}</div>
            <div class="info-text">Schedule Date</div>
            <div class="info-container">{{ interview_details.schedule_date }}</div>
            <div class="info-text">Interview Location</div>
            <div class="info-container">{{ interview_details.location }}</div>
            <div class="message-text">Interviewer Message:</div>
            <div class="message-container">
                {{ interview_details.interview_message }}
            </div>
        </div>
        <div class="admin-map-container"></div>
        {% endif %}
    </div>

    <!-- Buttons -->
    <div class="buttons-container">
        <div class="info-text">Print Interview Details</div>
        <br>
        <button class="sfbutton" onclick="location.href='{% url 'generate_pdf' applicant_status_id=interview_details.applicant_job_id %}'">GENERATE PDF</button>
    </div>
</div>
{% endblock %}

