{% extends "Applicant_Inheritance.html" %}

{% block title %}Job Details{% endblock %}

{% block content %}
<div class="job-rek">
    <h2 class="job-title">{{ job_details.job_title }}</h2>
    <p class="job-description"><strong>Description:</strong> {{ job_details.job_description }}</p>
    <p class="job-requirements"><strong>Requirements:</strong> {{ job_details.job_requirements }}</p>
    <p class="job-company"><strong>Company:</strong> {{ job_details.job_company }}</p>
    <p class="job-benefits"><strong>Benefits:</strong> {{ job_details.job_benefits }}</p>
    <p class="job-status"><strong>Status:</strong> {{ job_details.job_status }}</p>
    <p class="job-date"><strong>Date Published:</strong> {{ job_details.job_date_published }}</p>

    <button class="apply-button" onclick="window.location.href='{% url 'fileupload' job_details.job_id %}'">Apply Now</button>
</div>
{% endblock %}
