{% extends "Interviewer_Inheritance.html" %}

{% block body %}
    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>Applicant's Name</th>
                    <th>Job Applied</th>
                    <th>Date Applied</th>
                    <th>Interview Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Software Engineer</td>
                    <td>10/10/2024</td>
                    <td>10/15/2024</td>
                    <td>Interviewed</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        
        <button class="bodybutton" onclick="window.location.href='{% url 'INTviewinfo' %}'">View Info and Credentials</button>
        <div class="qualified-applicants">
            <h2>Qualified Applicants</h2>
        </div>
    </div>
{% endblock %}
