{% extends "Applicant_Inheritance.html" %}

{% block body %}
<div class="main-content">
    <h2 style="font-family: Georgia; font-size: 36px; font-weight: bold;">User Profile:</h2>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Username: </label>
    <span style="font-family: Georgia; font-size: 24px;">*INSERT USERNAME HERE*</span>
    <br>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Name: </label>
    <span style="font-family: Georgia; font-size: 24px;">*INSERT NAME HERE*</span>
    <br>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">Email: </label>
    <span style="font-family: Georgia; font-size: 24px;">*INSERT EMAIL HERE*</span>
    <br>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">PASSWORD: </label>
    <span style="font-family: Georgia; font-size: 24px;">*HIDDEN*</span>
    <br>
    <button class="bodybutton" style="font-family: Georgia; font-size: 20px; font-weight: bold;" onclick="showContent()">Change Password</button>
    <div id="password-section" class="hidden-content">
        <div class="input-group">
            <label>Current Password:</label>
            <input class="inputarea" type="password" placeholder="Enter Current Password">
        </div>
    
        <div class="input-group">
            <label>New Password:</label>
            <input class="inputarea" type="password" placeholder="Enter New Password Here">
        </div>
    
        <div class="input-group">
            <label>Confirm Password:</label>
            <input class="inputarea" type="password" placeholder="Enter New Password Here">
        </div>
        <div class="input-group">
        <button class="bodybutton">Save</button>
         </div>
    </div>
    
    <script>
        function showContent() {
            document.getElementById("password-section").style.display = "block";
        }
    </script>

    <button class="bodybutton" style="font-family: Georgia; font-size: 20px; font-weight: bold;"onclick="window.location.href='{% url 'Index' %}'">Sign Out</button>
</div>
{% endblock %}
