{% extends "Interviewer_Inheritance.html" %}

{% block body %}
<div class="main-content">
    <table>
        <tr>
            <th style="font-family: Georgia; font-size: 18px;">Interview Dates</th>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 1</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 2</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 3</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 4</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 5</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 6</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 7</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 8</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 9</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 10</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 11</td>
        </tr>
        <tr>
            <td style="font-family: Georgia; font-size: 18px;">Date 12</td>
        </tr>
    </table>

     <h1 style="font-family: Georgia; font-size: 40px;font-weight: bold;">Interview Appointments</h1>
</div>
{% endblock %}
