{% extends "Interviewer_Inheritance.html" %}

{% block body %}
<div class="main-content">
    <label class="header-label">Applicant Name:</label>

    <label class="sub-label">*INSERT APPLICANT NAME*</label>
    <br>

    <label class="header-label">Applicant Status:</label>
    <select class="dropdown">
        <option>PASSED</option>
        <option>FAILED</option>
    </select>
    <br>

    <label class="header-label">Interviewer Remarks:</label>

    <textarea class="remarks-textarea"></textarea>


    <button class="bodybutton">Submit Feedback</button>

    <button class="bodybutton">Edit Feedback</button>

    <button class="bodybutton" onclick="window.location.href='{% url 'INThistory' %}'">Back</button>
    <br>

    <div class="qualified-applicants">
        <h2>Feedback History</h2>
    </div>
</div>
{% endblock %}
