{% extends "Interviewer_Inheritance.html" %}

{% block body %}
    <div class="main-content">
        <label style="font-family: Georgia; font-size: 36px; font-weight: bold;">Applicant Name:</label>
        <select class="dropdown"; font-family: Georgia;  font-size: 20px;">
            <option>Applicant 1</option>
            <option>Applicant 2</option>
            <option>Applicant 3</option>
            <option>Applicant 4</option>
            <option>Applicant 5</option>
            <option>Applicant 6</option>
            <option>Applicant 7</option>
            <option>Applicant 8</option>
            <option>Applicant 9</option>
            <option>Applicant 10</option>
            <option>Applicant 11</option>
            <option>Applicant 12</option>
        </select>
        <br><br>

        <label style="font-family: Georgia; font-size: 36px; font-weight: bold;">Applicant Status:</label>
        <select class="dropdown" font-family: Georgia; font-size: 28px;">
            <option>PASSED</option>
            <option>FAILED</option>
        </select>
        <br>

        <label style="font-family: Georgia; font-size: 36px; font-weight: bold;">Interviewer Remarks:</label>
        <textarea class="remarks-textarea" style="font-family: Georgia; font-size: 18px;"></textarea>
        <button class="bodybutton" style="font-family: Georgia; font-size: 18px;">Submit Feedback</button>
        <br>

        <div class="qualified-applicants">
            <h2>Feedback Center</h2>
        </div>
    </div>
{% endblock %}
