{% extends "Interviewer_Inheritance.html" %}

{% block body %}
<div class="main-content">
    <table border="0" style="font-size: 18px;">
        <tr>
            <th>Interviewed Applicant List</th>
        </tr>
        {% for applicant in applicants %}
        <tr>
            <td>{{ applicant.account.first_name }} {{ applicant.account.last_name }}</td>
            <td>
                <button onclick="window.location.href='{% url 'view_feedback' applicant.applicant_status_id %}'">
                    View Feedback
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="qualified-applicants">
      <h2>Feedback History</h2>
    </div>
</div>
{% endblock %}
