{% extends "Interviewer_Inheritance.html" %}

{% block title %}History{% endblock %}

{% block content %}

<div class="main-content" style="padding: 0; margin: 0; text-align: center; display: flex; flex-direction: column; align-items: center;"></div>
    <h2 style="font-size: 36px; font-weight: bold; text-align: center;">Feedback History</h2>
    <p style="font-size: 14px; font-weight: bold; text-align: center;">
        This is where you, as the interviewer, can view all the applicants you have already interviewed. If you change your mind, you can update your feedback to be sent to the admin.
    </p>


    <div class="interviewer-table-container">
        <table class="interviewer-table">
            <thead>
                <tr>
                    <th>Applicant Name</th>
                    <th>Job Applied</th>
                    <th>Job Company</th>
                    <th>Applicant Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in applicants %}
                    <tr>
                        <td>{{ applicant.full_name }}</td>
                        <td>{{ applicant.job_title }}</td>
                        <td>{{ applicant.job_company }}</td>
                        <td>{{ applicant.status }}</td>
                        <td>
                            <button class="bodybutton" onclick="window.location.href='{% url 'INTeditfeedback' applicant.applicant_status_id %}'">
                                View Feedback
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center;">
                            No feedback history available.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
